@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --main: #ffcc33;
  --light: #ffedb5;
  --extraLight: #fff8e2;
  --darkerYellow: #f5b800;
  --darkGray: #3d3d3d;
  --midGray: #5e5e5e;
  --offWhite: #fafafa;
  --redDot: #ff1717;
  --almostBlack: rgba(0, 0, 0, 0.87);
  --link: #295bff;

  --secondary: hsl(232, 57%, 26%);

  --error-main: #eb0000;
  --error-dark: hsl(0, 89%, 40%);

  --resume-yellow: #f3ba4d;
  --resume-blue: #1c4587;
  --resume-gray: #e7e6e6;
}

html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.App {
  margin: 0;
}

main {
  background-image: url('../img/unity.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#p4p-container {
  width: 80%;
  margin: 2rem auto auto auto;
}

#p4p-animated {
  width: 100%;
}

/* HERO SECTION */

#main-text {
  height: 100vh;
  background: rgba(87, 95, 103, .7);
  padding: 1rem .5rem 0 1rem;
  position: relative;
}

#hero-h1 {
  font-size: calc(1.5rem + 1vw);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--extraLight);
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

#hero-span {
  color: var(--darkerYellow);
}

.hero-text {
  font-size: calc(.8rem + 1vw);
}

/* SIGN-IN */

#sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: .25rem;
  background: var(--offWhite);
  opacity: .8;
}

#sign-in-img {
  width: 90%;
}

#sign-in button {
  background: var(--main);
  height: 2rem;
  border: none;
  border-radius: .25rem;
  padding: 0 1rem;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)
}

#sign-in button:hover {
  background: var(--darkerYellow);
  transition: .5s;
}


/* 414px */

@media only screen and (min-width: 414px) {
  #hero-h1 {
    font-size: calc(1.5rem + 1vw);
  }
}


/* 768px */

@media only screen and (min-width: 768px) {
  #main-text {
    padding: 1rem .5rem 0 3rem;
  }

  #hero-h1 {
    font-size: calc(3.3rem + 1vw);
    margin-top: 0;
  }

  #sign-in {
    top: 30%;
  }
}


/* 992px */

@media only screen and (min-width: 992px) {
  #hero-h1 {
    font-size: calc(3.9rem + 1vw);
    margin-top: 0;
  }
}


/* 1200px */

@media only screen and (min-width: 1200px) {
  #hero-h1 {
    font-size: calc(4.5rem + 1vw);
    margin-top: 0;
  }
}