.program {
    margin: 0 .5rem;
}

.program h4 {
    font-size: 1.25rem;
    margin: .5rem auto .75rem auto;
    width: 70%;
}

.program p {
    padding: 0 1rem;
    width: 70%;
    margin: 1rem auto;
}

.img-box {
    width: 70%;
    margin: 0 auto;
}

.carousel-img {
    width: 100%;
}

#carousel-h3 {
    font-size: 2rem;
    margin-left: 1rem;
}

/* 768px */

@media only screen and (min-width: 768px) {
    #carousel-h3 {
        margin-left: 4rem;
    }
}