.program {
    /* border: 1px solid red; */
    margin: 0 .5rem;
}

.program h4 {
    margin: .5rem 0 .75rem 1rem;
}

.program p {
    padding: 0 1rem;
}

.carousel-img {
    width: 90%;
    margin: 0 auto;
}