footer {
    margin: 2rem 0 0 0;
    padding: 3rem;
    color: var(--offWhite);
    background: var(--secondary);
}

#footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-container > p {
    margin: 0;
    text-align: center;
}

#social {
    /* outline: 1px solid white; */
    margin-bottom: 1.5rem;
}

.fab {
    margin: 0 .5rem;
    font-size: 1.25rem;
    height: 1.35rem;
    width: 1.35rem;
    text-align: center;
    border: 1px solid var(--midGray);
    border-radius: 50%;
    padding: .5rem;
    color: var(--offWhite);
    text-decoration: none;
}

.fab:hover {
    border: 1px solid var(--offWhite);
}

#links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 55%;
    margin-bottom: 1rem;
}

#links a {
    color: var(--offWhite);
    text-decoration: none;
    margin: 0 .5rem;
}

#links div {
    border: 1px solid var(--midGray);
    border-radius: .25rem;
    width: 8rem;
    text-align: center;
}

#links div:hover {
    border: 1px solid var(--offWhite);
}