footer {
    margin: 2rem 0 0 0;
    padding: 3rem;
    color: var(--offWhite);
    /* background: var(--secondary); */
    background: rgb(21,19,73);
}

#footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-container > p {
    margin: 0;
    text-align: center;
}

#social {
    width: 7rem;
}

.fab {
    margin: 0 .5rem .5rem .5rem;
    font-size: 1.25rem;
    height: 1.35rem;
    width: 1.35rem;
    text-align: center;
    border: 1px solid var(--midGray);
    border-radius: 50%;
    padding: .5rem;
    color: var(--offWhite);
    text-decoration: none;
}

.fab:hover {
    transition: .5s;
    border: 1px solid var(--offWhite);
    background: rgb(44, 43, 91);
}

#address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-low {
    margin-bottom: 0;
}

.no-top {
    margin-top: 0;
}

#links {
    display: flex;
    flex-direction: column;
}

#links a {
    color: var(--offWhite);
    text-decoration: none;
    margin: 0 .5rem;
}

#links div {
    border: 1px solid var(--midGray);
    border-radius: .25rem;
    width: 8rem;
    text-align: center;
    margin-bottom: .5rem;
}

#links div:hover {
    transition: .5s;
    border: 1px solid var(--offWhite);
    background: rgb(44, 43, 91);
}