footer {
    margin: 2rem 0 0 0;
    padding: 3rem;
    color: var(--offWhite);
    background: rgb(21,19,73);
}

#footer-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-container > p {
    margin: 0;
    text-align: center;
}

#social {
    width: 12rem;
    text-align: center;
}

.fab {
    margin: 0 .5rem .5rem .5rem;
    font-size: 1.25rem;
    height: 1.35rem;
    width: 1.35rem;
    text-align: center;
    border: 1px solid var(--midGray);
    border-radius: 50%;
    padding: .5rem;
    color: var(--offWhite);
    text-decoration: none;
}

.fab:hover {
    transition: .5s;
    border: 1px solid var(--main);
    color: var(--main);
}

#switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
}

#address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 1.45rem;
    color: var(--main);
}

.no-low {
    margin-bottom: 0;
}

.no-top {
    margin-top: 0;
}

#links {
    display: flex;
    flex-direction: column;
}

#links a {
    color: var(--offWhite);
    text-decoration: none;
    margin: 0 .5rem;
}

#links div {
    border: 1px solid var(--midGray);
    border-radius: .25rem;
    width: 8rem;
    text-align: center;
    margin-bottom: .5rem;
}

#links div:hover {
    transition: .5s;
    color: var(--main);
    border: 1px solid var(--main);
}

#links a:hover {
    color: var(--main);
}

/* 768px */

@media only screen and (min-width: 768px) {
    #footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #switch {
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 66%;
    }

    #switch2 {
        width: 33%;
    }

    #social {
        margin: auto;
        width: 7rem;
    }
  }