#offer {
    width: 100%;
}

#offer h3 {
    margin-left: 1rem;
    font-size: 2rem;
}

#offerings {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offering {
    width: 90%;
    flex-wrap: wrap;
}

.offering img {
    width: 100%;
    border-radius: 0 1rem 0 0;
}

.offering h4 {
    margin: 0;
}

.offering p {
    margin: 0 0 2rem 0;
}

/* 768px */

@media only screen and (min-width: 768px) {
    #offer {
        width: 100%;
    }

    #offer h3 {
        margin-left: 4rem;
    }

    #offerings {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .offering {
        width: 48%;
    }
}

/*  1200px */

@media only screen and (min-width: 1200px) {
    .offering {
        width: 22.5%;
    }
}