#process-h3 {
    font-size: 2rem;
    margin-left: 1rem;
}

details {
    margin-left: 4rem;
    width: 80%;
}

summary {
    margin-bottom: .5rem;
    font-weight: 600;
}

summary:hover {
    cursor: pointer;
    background: var(--light);
}

summary:focus {
    outline: none;
}

/* 768px */

@media only screen and (min-width: 768px) {
    #process-h3 {
        margin-left: 4rem;
    }

}